Gemfile.lock
*.gem
.bundle/
vendor/

*.log
docker-compose.override.yml

tmp/
*.swp
*.swo

log/
*.log
*.pid

.env
*.local

dist/
build/
coverage/

.idea/
*.iml
.vscode/
*.sublime-*

.DS_Store
Thumbs.db

*.bak
*.backup